@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

// _____colors_____
$white-color: #fefefe;

// _____fonts_____
$primary-font: "Roboto", sans-serif;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font;

  width: 100%;
  height: 100%;
}

html {
  background-image: url("/organic-chemistry.svg"); /* fallback */
  background-color: $white-color;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
