@import "src/styles/variables.scss";

.full__screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $secondary-color;

  .header {
    text-align: center;

    .card__list__title {
      margin-top: 0;
    }
  }
}
